on:
  push:
    tags:
      - "*"
  workflow_dispatch:

name: Publish to Crates.io

jobs:
  test:
    name: Test on all platforms
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os:
          [
            ubuntu-latest,
            ubuntu-22.04,
            ubuntu-20.04,
            macos-latest,
            macos-13,
            windows-latest,
            windows-2022,
          ]
    steps:
      - name: Checkout sources
        uses: actions/checkout@v4

      - name: Setup Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: stable
          targets: ${{ matrix.target }}
          components: clippy

      - name: Run tests
        run: cargo test -p tipping-rs

  publish:
    name: Publish
    runs-on: ubuntu-latest
    needs: test
    steps:
      - name: Checkout sources
        uses: actions/checkout@v4
      - name: Publish to crates.io
        run: cargo publish -p tipping-rs --token ${CRATES_TOKEN}
        env:
          CRATES_TOKEN: ${{ secrets.CRATES_TOKEN }}
